<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="main_app/static/css/about.css">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<body>
  <h1>About the Todo App</h1>
  <p>Welcome to my Unit 4 project! This todo app is designed to 
  make it easy for teams to collaborate on projects by showing
  users what needs to be completed and what has already been
  completed.<br>
  This app features full CRUD capability where you can create,
  read, update, or delete various tasks. You can also click
  on tasks to see the tasks descriptions to bet more details on
  what needs to be done.
  </p>
</body>
</html>