body {
  background-color: whitesmoke;
  padding: 10px;
}

.nav-bar {
  display: flex;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: black;
}